<nav class="navbar navbar-expand-lg navbar-light bg-light bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <%= image_tag 'favicon.png', size: '30x30', class: "mx-2" %>
      <%= link_to 'ICON MAKER', root_path, class: 'navbar-brand text-dark', data: { turbo: false } %>
      <%= link_to '投稿一覧', posts_path, class: 'btn text-dark ' %>
      <%= link_to 'ログイン', login_path, class: 'btn text-dark' %>
    </div>
  </div>
</nav>