<nav class="navbar navbar-expand-lg navbar-light bg-light container justify-content-center">
  <%= image_tag 'favicon.png', size: '30x30', class: "mx-2" %>
  <%= link_to 'ICON MAKER', root_path, class: 'navbar-brand text-dark text-center', data: { turbo: false } %>
</nav>