<div class="top">
  <h2>アイコンを作成しました。</h2>
  <h2>キーワード: <%=@query%></h2>
  <div>
    <%= image_tag @icon_url, class:"img-fluid mx-auto", :size =>'500x500'%>
  </div>
  <%= link_to "戻る", root_path , class:"btn btn-light"%>
</div>