<div class="top">
  <h2>アイコンを作成しました。</h2>
  <h2>キーワード: <%=@query%></h2>
  <div>
    <%= image_tag @icon_url, class:"img-fluid mx-auto", :size =>'500x500'%>
  </div>
  <div class ="text-center title ">
  <%= link_to 'Share', "https://twitter.com/share?url=https://iconmaker.onrender.com&text=アイコンを作成しました。
    %0aキーワード: #{@query}
    %0a#{@icon_url}",
    title: 'Twitter',class:'fab fa-twitter', target: '_blank' %>
  </div>
  <%= link_to "戻る", root_path , class:"btn btn-light"%>
</div>