<div class="top mx-5">
  <h3>アイコンを作成してみよう</h3>
  <%= form_with(url: create_icon_path, method: :get, data: {"turbolinks" => false} ) do |form| %>
    <%= form.text_field :query, class: "form-control", placeholder:'例：散歩している黒柴' %>
    <%= form.submit "作成", class:"m-1 btn btn-dark" %>
  <% end %>
</div>