<div class="top">
  <h3>アイコンを作成してみよう</h3>
  <%= form_with(url: create_icon_path, method: :get, data: {"turbolinks" => false} ) do |form| %>
    <%= form.text_field :query, size: 50, placeholder:'例：散歩している黒柴' %>
    <%= form.submit "作成" %>
  <% end %>
</div>